/*! jQuery UI - v1.11.2 - 2015-01-14
* http://jqueryui.com
* Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden
{
    display:none;
}

.ui-helper-hidden-accessible
{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    line-height:1.3;
    text-decoration:none;
    font-size:100%;
    list-style:none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after
{
    content:"";
    display:table;
    border-collapse:collapse;
}

.ui-helper-clearfix:after
{
    clear:both;
}

.ui-helper-clearfix
{
    min-height:0;
}

.ui-helper-zfix
{
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    opacity:0;
    filter:Alpha(Opacity=0);
}

.ui-front
{
    z-index:100;
}

.ui-state-disabled
{
    cursor:default!important;
}

.ui-icon
{
    display:block;
    text-indent:-99999px;
    overflow:hidden;
    background-repeat:no-repeat;
}

.ui-widget-overlay
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.ui-autocomplete
{
    position:absolute;
    top:0;
    left:0;
    cursor:default;
}

.ui-menu
{
    list-style:none;
    padding:0;
    margin:0;
    display:block;
    outline:none;
}

.ui-menu .ui-menu
{
    position:absolute;
}

.ui-menu .ui-menu-item
{
    position:relative;
    margin:0;
    padding:3px 1em 3px .4em;
    cursor:pointer;
    min-height:0;
    text-align: left;
}

.ui-menu .ui-menu-divider
{
    margin:5px 0;
    height:0;
    font-size:0;
    line-height:0;
    border-width:1px 0 0 0;
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active
{
    margin:-1px;
}

.ui-menu-icons
{
    position:relative;
}

.ui-menu-icons .ui-menu-item
{
    padding-left:2em;
}

.ui-menu .ui-icon
{
    position:absolute;
    top:0;
    bottom:0;
    left:.2em;
    margin:auto 0;
}

.ui-menu .ui-menu-icon
{
    left:auto;
    right:0;
}

.ui-autocomplete
{
    overflow: scroll;
    height: 212px;
}

ul.ui-state-hover,
ul.ui-widget-content .ui-state-hover,
ul.ui-widget-header .ui-state-hover,
ul.ui-state-focus,
ul.ui-widget-content .ui-state-focus,
ul.ui-widget-header .ui-state-focus,
.adminaddresses .ui-state-hover,
.adminaddresses .ui-widget-content .ui-state-hover,
.adminaddresses .ui-widget-header .ui-state-hover,
.adminaddresses .ui-state-focus,
.adminaddresses .ui-widget-content .ui-state-focus,
.adminaddresses .ui-widget-header .ui-state-focus
{
    background: #2ba6cb;
    border: none;
}

.ui-widget-content
{
    border: 1px solid #AAAAAA;
}

.ui-state-hover a,
.ui-widget-content .ui-state-hover a,
.ui-widget-header .ui-state-hover a,
.ui-state-focus a,
.ui-widget-content .ui-state-focus a,
.ui-widget-header .ui-state-focus a
{
    color: #FFFFFF;
}

ul.ui-autocomplete
{
    overflow: auto;
    background: #FFFFFF;
}

ul.ui-widget-content a
{
    color: #000000;
    text-decoration: none;
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active
{
    border: none;
    margin: 0;
}

a#refresh-postcode
{
    cursor: pointer;
}

.postcode_refresh_button
{
    display: inline;
    margin-left: 10px;
}

.postcode_refresh_button a
{
    padding: 3px 8px 3px 28px;
    background: url('../img/reload.png') no-repeat scroll 8px 2px transparent;
}