#dpdgroup.fixed-width
{
	width: 400px;
}

#dpdgroup_create_shipment
{
	float:right;
}

#dpdgroup_shipment_creation
{
	display:none;
	background:#EBEDF4;
	padding: 20px;
	width: 700px;
	height: 550px;
	overflow-y: scroll;
	text-align: left;
}

.buttons_container
{
	float:right;
	margin-bottom: 20px;
}

#dpdgroup_shipment_creation .parcel_description input
{
	width: 98%;
}

#dpdgroup_shipment_creation .error {
	background: url("../img/icon-cancel.png") no-repeat scroll 6px 6px #FFBABA;
	border: 1px solid #CC0000;
	color: #D8000C;
}
#dpdgroup_shipment_creation .conf, #dpdgroup_shipment_creation .warn, #dpdgroup_shipment_creation .error {
	border-radius: 3px;
	color: #383838;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 10px;
	min-height: 28px;
	padding: 13px 5px 5px 40px;
}

#dpdgroup_print_labels
{
	float:left;
    margin-right: 15px;
}

#dpdgroup_shipment_creation, #dpdgroup_edit_shipment, #dpdgroup_delete_shipment
{
	float:right;
	margin-left: 15px;
}

#dpdgroup_shipment_creation_close
{
	margin-bottom: 20px;
    display:none;
    float:right;
}

.parcel_total_weight input
{
	width: 90px;
}

.parcel_weight input
{
	width: 90px;
}

.order_ps14
{
	width: 400px;
}

#content .order_ps14 .alert
{
	width: auto;
}

#track_shipment_button
{
	float: right;
}

#dpdgroup #ajax_running
{
	background: url("../img/ajax-loader-yellow.gif") no-repeat scroll 15px 5px #fff1a8;
	border: 1px solid #ffd96f;
	border-radius: 0 0 3px 3px;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	height: 18px;
	left: 40%;
	padding: 12px 50px;
	position: fixed;
	top: 0;
	width: 180px;
	z-index: 10000;
	display: none;
}